# Byte-compiled / optimized / DLL files
__pycache__/

downloads/

data
!data/templates/*.png

res/*
models/*

# Jupyter Notebook
.ipynb_checkpoints

# IPython
#profile_default/
#ipython_config.py


*tmp*
tst_*
test_*
log_*

*.bat
*.sh

todo.py
